[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	ignore = dirty
[submodule "bin/git-tasukete"]
	path = bin/git-tasukete
	url = https://github.com/rosylilly/git-tasukete.git
	ignore = dirty
[submodule "bin/git-now"]
	path = bin/git-now
	url = https://github.com/toshi-kawanishi/git-now.git
	ignore = dirty
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = dirty
[submodule "bin/gitignore-boilerplates"]
	path = bin/gitignore-boilerplates
	url = https://github.com/simonwhitaker/gitignore-boilerplates.git
	ignore = dirty
[submodule "bin/git-info"]
	path = bin/git-info
	url = https://github.com/gitbits/git-info.git
	ignore = dirty
[submodule "bin/git-cp"]
	path = bin/git-cp
	url = https://github.com/gitbits/git-cp.git
	ignore = dirty
[submodule "bin/git-submodule-misc"]
	path = bin/git-submodule-misc
	url = https://github.com/gitbits/git-submodule-misc.git
	ignore = dirty
[submodule "bin/git-prune-remote-branch"]
	path = bin/git-prune-remote-branch
	url = https://github.com/kyanny/git-prune-remote-branch.git
	ignore = dirty
[submodule "zsh/z"]
	path = zsh/z
	url = https://github.com/rupa/z.git
	ignore = dirty
[submodule "zsh/zaw"]
	path = zsh/zaw
	url = https://github.com/zsh-users/zaw.git
	ignore = dirty
[submodule "zsh/zsh-bundle-exec"]
	path = zsh/zsh-bundle-exec
	url = https://github.com/rhysd/zsh-bundle-exec
	ignore = dirty
