[user]
	name = Yuichi TSUNEMATSU
	email = yuichi@tsunematsu.cc
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
[core]
	editor = vim
	excludesfile = ~/.global_ignore
[push]
	default = upstream
[grep]
	lineNumber = true
[alias]
	cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
