[submodule "git/gitignore"]
	path = git/gitignore
	url = https://github.com/github/gitignore.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "bin/git-tasukete"]
	path = bin/git-tasukete
	url = https://github.com/rosylilly/git-tasukete
