[user]
	name = Yuichi TSUNEMATSU
	email = yuichi@tsunematsu.cc
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
[core]
	editor = vim
	excludesfile = ~/.global_ignore
	quotepath = false
[push]
	default = upstream
[grep]
	lineNumber = true
[alias]
	cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
[merge]
	tool = vimdiff
	ff = false
[branch]
	autosetuprebase = always
[help]
	autocorrect = 1
[tig "bind"]
	generic = g move-first-line
	generic = G move-last-line
	generic = ^F move-page-down
	generic = ^B move-page-up
[github]
	user = tune
